// Navigation code here
nav{
    .verticalcenter;
    .nav-body;

    h1{
        font-size: 4rem;
        font-weight: bold;
    }

    div{
        margin: 2% 0% 0%;
        width: 60%;
        text-align: center;
    }

    a{
        margin:0% 2%;
    }
}